<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aesc.dao.QpsqmsmbDao">
<resultMap type="com.aesc.pojo.Qpsqmsmb" id="Qpsqmsmb">
	<result  column="contract_id" property="contract_id" jdbcType="VARCHAR" />
	<result  column="contract_serial" property="contract_serial" jdbcType="VARCHAR" />
	<result  column="merchant_name" property="merchant_name" jdbcType="VARCHAR" />
	<result  column="address" property="address" jdbcType="VARCHAR" />
	<result  column="area1" property="area1" jdbcType="VARCHAR" />
	<result  column="area2" property="area2" jdbcType="VARCHAR" />
	<result  column="rental_location" property="rental_location" jdbcType="VARCHAR" />
	<result  column="accept_year" property="accept_year" jdbcType="VARCHAR" />
	<result  column="accept_month" property="accept_month" jdbcType="VARCHAR" />
	<result  column="accept_day" property="accept_day" jdbcType="VARCHAR" />
	<result  column="lessee_location" property="lessee_location" jdbcType="VARCHAR" />
	<result  column="building_area" property="building_area" jdbcType="VARCHAR" />
	<result  column="expires" property="expires" jdbcType="VARCHAR" />
	<result  column="year_start" property="year_start" jdbcType="VARCHAR" />
	<result  column="month_start" property="month_start" jdbcType="VARCHAR" />
	<result  column="day_start" property="day_start" jdbcType="VARCHAR" />
	<result  column="year_end" property="year_end" jdbcType="VARCHAR" />
	<result  column="month_end" property="month_end" jdbcType="VARCHAR" />
	<result  column="day_end" property="day_end" jdbcType="VARCHAR" />
	<result  column="transfer_year" property="transfer_year" jdbcType="VARCHAR" />
	<result  column="transfer_month" property="transfer_month" jdbcType="VARCHAR" />
	<result  column="transfer_day" property="transfer_day" jdbcType="VARCHAR" />
	<result  column="rent1" property="rent1" jdbcType="VARCHAR" />
	<result  column="total" property="total" jdbcType="VARCHAR" />
	<result  column="upper1" property="upper1" jdbcType="VARCHAR" />
	<result  column="payment1" property="payment1" jdbcType="VARCHAR" />
	<result  column="payment2" property="payment2" jdbcType="VARCHAR" />
	<result  column="payment3" property="payment3" jdbcType="VARCHAR" />
	<result  column="payment4" property="payment4" jdbcType="VARCHAR" />
	<result  column="charge_year1" property="charge_year1" jdbcType="VARCHAR" />
	<result  column="charge_month1" property="charge_month1" jdbcType="VARCHAR" />
	<result  column="charge_day1" property="charge_day1" jdbcType="VARCHAR" />
	<result  column="cash_deposit" property="cash_deposit" jdbcType="VARCHAR" />
	<result  column="upper2" property="upper2" jdbcType="VARCHAR" />
	<result  column="property" property="property" jdbcType="VARCHAR" />
	<result  column="management_fee1" property="management_fee1" jdbcType="VARCHAR" />
 	<result  column="management_fee" property="management_fee" jdbcType="VARCHAR" />
	<result  column="power_rate" property="power_rate" jdbcType="VARCHAR" />
	<result  column="water_rate" property="water_rate" jdbcType="VARCHAR" />
	<result  column="payment5" property="payment5" jdbcType="VARCHAR" />
	<result  column="payment6" property="payment6" jdbcType="VARCHAR" />
	<result  column="payment7" property="payment7" jdbcType="VARCHAR" />
	<result  column="payment8" property="payment8" jdbcType="VARCHAR" />
	<result  column="charge_year2" property="charge_year2" jdbcType="VARCHAR" />
	<result  column="charge_month2" property="charge_month2" jdbcType="VARCHAR" />
	<result  column="charge_day2" property="charge_day2" jdbcType="VARCHAR" />
	<result  column="purpose" property="purpose" jdbcType="VARCHAR" />
	<result  column="remark" property="remark" jdbcType="VARCHAR" />
	<result  column="first_legal_person" property="first_legal_person" jdbcType="VARCHAR" />
	<result  column="first_agent" property="first_agent" jdbcType="VARCHAR" />
	<result  column="first_date" property="first_date" jdbcType="VARCHAR" />
	<result  column="second_sign" property="second_sign" jdbcType="VARCHAR" />
	<result  column="second_legal_person" property="second_legal_person" jdbcType="VARCHAR" />
	<result  column="second_agent" property="second_agent" jdbcType="VARCHAR" />
	<result  column="phone" property="phone" jdbcType="VARCHAR" />
	<result  column="second_date" property="second_date" jdbcType="VARCHAR" />
	<result  column="confirmation_signatory" property="confirmation_signatory" jdbcType="VARCHAR" />
	<result  column="confirmation_year" property="confirmation_year" jdbcType="VARCHAR" />
	<result  column="confirmation_month" property="confirmation_month" jdbcType="VARCHAR" />
	<result  column="confirmation_day" property="confirmation_day" jdbcType="VARCHAR" />
	<result  column="username" property="username" jdbcType="VARCHAR" />
	<result  column="status" property="status" jdbcType="VARCHAR" />
</resultMap> 
	<select id="queryQpsqmsmb" resultMap="Qpsqmsmb">
			select contract_id,contract_serial, merchant_name,phone,first_date,username from qpsqmsmb_contract where status = 1
		</select>
		
		<select id="queryQpsqmsmbById" resultMap="Qpsqmsmb">
			select * from qpsqmsmb_contract where contract_id = #{contract_id,jdbcType=INTEGER} AND status = 1
		</select>
	<insert id="saveQpsqmsmb" parameterType="com.aesc.pojo.Qpsqmsmb">
	insert into qpsqmsmb_contract (
		contract_id           ,
		contract_serial       ,
		merchant_name         ,
		address               ,
		area1                 ,
		area2                 ,
		rental_location       ,
		accept_year           ,
		accept_month          ,
		accept_day            ,
		lessee_location       ,
		building_area         ,
		expires               ,
		year_start            ,
		month_start           ,
		day_start             ,
		year_end              ,
		month_end             ,
		day_end               ,
		transfer_year         ,
		transfer_month        ,
		transfer_day          ,
		rent1                 ,
		total                 ,
		upper1                ,
		payment1              ,
		payment2              ,
		payment3              ,
		payment4              ,
		charge_year1          ,
		charge_month1         ,
		charge_day1           ,
		cash_deposit          ,
		upper2                ,
		property              ,
		management_fee1       ,
		management_fee        ,
		power_rate            ,
		water_rate             ,
		payment5               ,
		payment6               ,
		payment7               ,
		payment8               ,
		charge_year2           ,
		charge_month2          ,
		charge_day2            ,
		purpose                ,
		remark                ,
		first_legal_person     ,
		first_agent            ,
		first_date             ,
		second_sign            ,
		second_legal_person    ,
		second_agent           ,
		phone                  ,
		second_date            ,
		confirmation_signatory ,
		confirmation_year      ,
		confirmation_month     ,
		confirmation_day       ,
		username               ,
		status                 
			)
	values(
		#{contract_id            ,jdbcType=INTEGER},
		#{contract_serial        ,jdbcType=VARCHAR},
		#{merchant_name          ,jdbcType=VARCHAR},
		#{address                ,jdbcType=VARCHAR},
		#{area1                  ,jdbcType=VARCHAR},
		#{area2                  ,jdbcType=VARCHAR},
		#{rental_location        ,jdbcType=VARCHAR},
		#{accept_year            ,jdbcType=VARCHAR},
		#{accept_month           ,jdbcType=VARCHAR},
		#{accept_day             ,jdbcType=VARCHAR},
		#{lessee_location        ,jdbcType=VARCHAR},
		#{building_area          ,jdbcType=VARCHAR},
		#{expires                ,jdbcType=VARCHAR},
		#{year_start             ,jdbcType=VARCHAR},
		#{month_start            ,jdbcType=VARCHAR},
		#{day_start              ,jdbcType=VARCHAR},
		#{year_end               ,jdbcType=VARCHAR},
		#{month_end              ,jdbcType=VARCHAR},
		#{day_end                ,jdbcType=VARCHAR},
		#{transfer_year          ,jdbcType=VARCHAR},
		#{transfer_month         ,jdbcType=VARCHAR},
		#{transfer_day           ,jdbcType=VARCHAR},
		#{rent1                  ,jdbcType=VARCHAR},
		#{total                  ,jdbcType=VARCHAR},
		#{upper1                 ,jdbcType=VARCHAR},
		#{payment1               ,jdbcType=VARCHAR},
		#{payment2               ,jdbcType=VARCHAR},
		#{payment3               ,jdbcType=VARCHAR},
		#{payment4               ,jdbcType=VARCHAR},
		#{charge_year1           ,jdbcType=VARCHAR},
		#{charge_month1          ,jdbcType=VARCHAR},
		#{charge_day1            ,jdbcType=VARCHAR},
		#{cash_deposit           ,jdbcType=VARCHAR},
		#{upper2	             ,jdbcType=VARCHAR},
		#{property               ,jdbcType=VARCHAR},
		#{management_fee1        ,jdbcType=VARCHAR},
		#{management_fee         ,jdbcType=VARCHAR},
		#{power_rate             ,jdbcType=VARCHAR},
		#{water_rate             ,jdbcType=VARCHAR},
		#{payment5               ,jdbcType=VARCHAR},
		#{payment6               ,jdbcType=VARCHAR},
		#{payment7               ,jdbcType=VARCHAR},
		#{payment8               ,jdbcType=VARCHAR},
		#{charge_year2           ,jdbcType=VARCHAR},
		#{charge_month2          ,jdbcType=VARCHAR}, 
		#{charge_day2            ,jdbcType=VARCHAR},
		#{purpose                ,jdbcType=VARCHAR},
		#{remark                ,jdbcType=VARCHAR},
		#{first_legal_person     ,jdbcType=VARCHAR},
		#{first_agent            ,jdbcType=VARCHAR},
		#{first_date             ,jdbcType=DATE}, 
		#{second_sign            ,jdbcType=VARCHAR},
		#{second_legal_person    ,jdbcType=VARCHAR},
		#{second_agent           ,jdbcType=VARCHAR},
		#{phone                  ,jdbcType=VARCHAR},
		#{second_date            ,jdbcType=DATE},
		#{confirmation_signatory ,jdbcType=VARCHAR}, 
		#{confirmation_year      ,jdbcType=VARCHAR},
		#{confirmation_month     ,jdbcType=VARCHAR},
		#{confirmation_day       ,jdbcType=VARCHAR},
		#{username               ,jdbcType=VARCHAR},
		#{status                 ,jdbcType=VARCHAR}		
	)   
	</insert>       
	
	<update id="updateQpsqmsmb">
	UPDATE
	qpsqmsmb_contract
	SET
contract_serial        =  #{contract_serial        ,jdbcType=VARCHAR},    
merchant_name          =  #{merchant_name          ,jdbcType=VARCHAR},    
address                =  #{address                ,jdbcType=VARCHAR},    
area1                  =  #{area1                  ,jdbcType=VARCHAR},    
area2                  =  #{area2                  ,jdbcType=VARCHAR},    
rental_location        =  #{rental_location        ,jdbcType=VARCHAR},    
accept_year            =  #{accept_year            ,jdbcType=VARCHAR},    
accept_month           =  #{accept_month           ,jdbcType=VARCHAR},    
accept_day             =  #{accept_day             ,jdbcType=VARCHAR},    
lessee_location        =  #{lessee_location        ,jdbcType=VARCHAR},    
building_area          =  #{building_area          ,jdbcType=VARCHAR},    
expires                =  #{expires                ,jdbcType=VARCHAR},    
year_start             =  #{year_start             ,jdbcType=VARCHAR},    
month_start            =  #{month_start            ,jdbcType=VARCHAR},    
day_start              =  #{day_start              ,jdbcType=VARCHAR},    
year_end               =  #{year_end               ,jdbcType=VARCHAR},    
month_end              =  #{month_end              ,jdbcType=VARCHAR},    
day_end                =  #{day_end                ,jdbcType=VARCHAR},    
transfer_year          =  #{transfer_year          ,jdbcType=VARCHAR},    
transfer_month         =  #{transfer_month         ,jdbcType=VARCHAR},    
transfer_day           =  #{transfer_day           ,jdbcType=VARCHAR},    
rent1                  =  #{rent1                  ,jdbcType=VARCHAR},    
total                  =  #{total                  ,jdbcType=VARCHAR},    
upper1                 =  #{upper1                 ,jdbcType=VARCHAR},    
payment1               =  #{payment1               ,jdbcType=VARCHAR},    
payment2               =  #{payment2               ,jdbcType=VARCHAR},    
payment3               =  #{payment3               ,jdbcType=VARCHAR},    
payment4               =  #{payment4               ,jdbcType=VARCHAR},    
charge_year1           =  #{charge_year1           ,jdbcType=VARCHAR},    
charge_month1          =  #{charge_month1          ,jdbcType=VARCHAR},    
charge_day1            =  #{charge_day1            ,jdbcType=VARCHAR},    
cash_deposit           =  #{cash_deposit           ,jdbcType=VARCHAR},    
upper2                 =  #{upper2	               ,jdbcType=VARCHAR},    
property               =  #{property               ,jdbcType=VARCHAR},    
management_fee1        =  #{management_fee1        ,jdbcType=VARCHAR},    
management_fee         =  #{management_fee         ,jdbcType=VARCHAR},    
power_rate             =  #{power_rate             ,jdbcType=VARCHAR},    
water_rate             =  #{water_rate             ,jdbcType=VARCHAR},    
payment5               =  #{payment5               ,jdbcType=VARCHAR},    
payment6               =  #{payment6               ,jdbcType=VARCHAR},    
payment7               =  #{payment7               ,jdbcType=VARCHAR},    
payment8               =  #{payment8               ,jdbcType=VARCHAR},    
charge_year2           =  #{charge_year2           ,jdbcType=VARCHAR},    
charge_month2          =  #{charge_month2          ,jdbcType=VARCHAR},    
charge_day2            =  #{charge_day2            ,jdbcType=VARCHAR},    
purpose                =  #{purpose                ,jdbcType=VARCHAR},    
remark                =  #{remark                ,jdbcType=VARCHAR},    
first_legal_person     =  #{first_legal_person     ,jdbcType=VARCHAR},    
first_agent            =  #{first_agent            ,jdbcType=VARCHAR},    
first_date             =  #{first_date             ,jdbcType=DATE},       
second_sign            =  #{second_sign            ,jdbcType=VARCHAR},    
second_legal_person    =  #{second_legal_person    ,jdbcType=VARCHAR},    
second_agent           =  #{second_agent           ,jdbcType=VARCHAR},    
phone                  =  #{phone                  ,jdbcType=VARCHAR},    
second_date            =  #{second_date            ,jdbcType=DATE},       
confirmation_signatory =  #{confirmation_signatory ,jdbcType=VARCHAR},    
confirmation_year      =  #{confirmation_year      ,jdbcType=VARCHAR},    
confirmation_month     =  #{confirmation_month     ,jdbcType=VARCHAR},    
confirmation_day       =  #{confirmation_day       ,jdbcType=VARCHAR},    
username               =  #{username               ,jdbcType=VARCHAR},    
status                 =  #{status                 ,jdbcType=VARCHAR}		
	WHERE
contract_id                 =  #{contract_id                 ,jdbcType=INTEGER}		
	</update>   
</mapper>
        