
body,div,h1,h2,h3,h4,h5,h6,form,input,p,th,td { 
	margin:0;
	padding:0;
}
input,select{
	border-top:0px;
	border-right:0px;
	border-left:0px;
	border-bottom:2px;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}

td{
	height: 200px;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

body{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-weight: 400;
	font-size: 15px;
	color: #1d3c41;
	overflow-y: scroll;
}
a{
	color: #333;
	text-decoration: none;
}
        	
*{
	margin: 0px;
	padding: 0px;
}

 input,button,select,textarea{outline:none}
 textarea{resize:none}

#div1{
	margin: 0 auto;
	height: 900px;
	width: 80%;
}

.titles{
	text-align:center;
	font-size:18pt; 
}

#div2{
	width: 100%;
	height: 100%;
	
}

.tables{
	border: 0px;
	width: 100%;
	padding: 0px;
	border-collapse: collapse;
	font-size: 12pt;
	font-family: verdana;
	list-style-type: circle;
}

.tdcalss{
	background: #d2e7f7;
	text-align: center;
	vertical-align: middle;
	word-break: break-all;
	word-wrap: break-word;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #90badd;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #90badd;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #90badd;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #90badd;
	height: 50px;
	width: 200px;
}

button{
	text-align:center;
	clear:both;
	transition-duration:.3s;
	border:none;
	cursor:pointer;
	display:inline-block;
	font-family:"Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	border-radius:5px;
	font-size:18px;
	height:28px;
	line-height:30px;
	padding:0 20px;
	margin:3px;
	text-decoration:none;
	outline:none;
	color:#fff;
	border-color:#44d4c7;
	background-color:#3185cc;
}

.div3{
	float:left;
	font-size: 12pt;
}

.div4{
	float:right;
}